.imgFooter{
    background-image: url('../../img/footer-bg.png');
}
.imgHeader{
    background-image: url('../../img/images.jpg');
    width: auto;
    height: auto;
}
.imgProductos{
    height: 600px;
}
.logoBeep{
    height: 600px;
    width: 100%;
}
.slicknav_menu{
    margin-bottom: 20px;
}
.slicknav_btn{
    margin-bottom: 20px;
}
.is-active{
    display: none;
}
.btnCarousel{
    font-size: 50px;
    color:black;
}
.btnCarousel:hover {
    color: rgb(80, 0, 230);
}
.btnHome:hover{
    background-color: rgba(133, 41, 219, 0.308);
    border-radius: 12px;
}
.titleYT{
    text-decoration:none;
    color: white;
}
.titleYT:hover{
    text-decoration:none;
    color: black;
}
.phones:hover{
    color: black;
}
.titleHome:hover{
    color: blue;
}