.imgFooter{
    background-image: url('../../img/footer-bg.png');

}
.imgHeader{
    background-image: url('../../img/images.jpg');
    width: auto;
    height: auto;
}
.imgProductos{
    height: 600px;
}
.logoBeep{
    height: 600px;
    width: 100%;
}